<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wedding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_user"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LihatPesanan"></activity>
        <activity android:name=".Login"></activity>
        <activity android:name=".Regis"></activity>
        <activity android:name=".TambahActivity">
        </activity>
        <activity
            android:name=".MakeUpActivity"
            android:label="@string/tv_makeup"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wedding.MainActivity" />
        </activity>
        <activity
            android:name=".KategoriActivity"
            android:label="@string/kategori"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        </activity>
        <activity
            android:name=".SouvenirActivity"
            android:label="@string/tv_soupenir"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wedding.MainActivity" />
        </activity>
        <activity
            android:name=".UndanganActivity"
            android:label="@string/tv_undangan"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wedding.MainActivity" />
        </activity>
        <activity
            android:name=".DekorasiActivity"
            android:label="@string/tvdekorasi"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wedding.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>